.category-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  width: 90%;
  margin: 0 6%;
}
.category {
  width: 350px;
  height: 200px;
  background-color: #bfbeda;
  cursor: pointer;
}
.category:hover {
  background-color: #908ec1;
}
